# ESLint configuration
# Intended to be a strict superset of Node core style, with the exception of
# rules which would cause breakage in old Node versions (e.g. ES6 features).
# Uses Airbnb's ES5 styles where they don't conflict with Node core or my prefs.

extends: "airbnb/legacy"

env:
  node: true
  # Disable unused browser env from airbnb/legacy
  # Note:  Won't fully work until ESLint v2 is released due to
  # https://github.com/eslint/eslint/issues/3915
  browser: false

rules:
  # Possible Errors
  # list: https://github.com/eslint/eslint/tree/master/docs/rules#possible-errors
  ## disallow trailing commas in array and object literals
  comma-dangle: [2, "never"]

  # Best Practices
  # list: https://github.com/eslint/eslint/tree/master/docs/rules#best-practices
  ## disallow reassignment of function parameters
  ## allow assignment to properties, since not all functions can be are pure
  no-param-reassign: [2, {"props": false}]
  ## disallow unnecessary use of Function.prototype.{apply,call}
  no-useless-call: 2
  ## allow vars anywhere that satisfies other linting constraints
  vars-on-top: 0

  # Strict Mode
  # list: https://github.com/eslint/eslint/tree/master/docs/rules#strict-mode
  ## 'use strict' on top
  strict: [2, "global"]

  # Variables
  # list: https://github.com/eslint/eslint/tree/master/docs/rules#variables
  ## disallow shadowing of variables
  no-shadow: [2, { "builtinGlobals": true, "hoist": "all" }]
  ## disallow declaration of variables that are not used in the code
  ## allow unused args for documentation, future use, and correct .length
  no-unused-vars: [2, {"args": "none"}]
  ## disallow referencing variables before declaring them, excluding functions
  ## since it is required for mutually-recursive functions
  no-use-before-define: [2, "nofunc"]

  # Stylistic Issues
  # list: https://github.com/eslint/eslint/tree/master/docs/rules#stylistic-issues
  ## require spaces around single-line blocks
  block-spacing: [2, "always"]
  ## allow unnamed functions
  func-names: 0
  ## max 80 length
  max-len: [2, 80, 2]
  ## require parens for Constructor
  new-parens: 2
  ## disallow extra spaces in object literals
  object-curly-spacing: [2, "never"]
  ## allow multiple variable declarations per block/function and multiple
  ## declarators per declaration
  one-var: 0
  ## require initialized variables to be declared on separate lines
  # TODO: Uncomment when ESLint 2.0 is released (if not included by airbnb)
  #one-var-declaration-per-line: [2, "initializations"]
  ## no space before function, eg. 'function()'
  space-before-function-paren: [2, "never"]

# vi: set sts=2 sw=2 et ft=yaml:
