.nyc_output/
/coverage/
/doc/
node_modules/
npm-debug.log
# Ignore package-lock.json for packages which are only used as dependencies.
# It is ignored during installation as a dependency, creates VCS churn,
# complicates CI (which should test latest), and causes many Dependabot PRs.
# https://github.com/sindresorhus/ama/issues/479#issuecomment-310661514
# It is also subject to lockfile injection:
# https://snyk.io/blog/why-npm-lockfiles-can-be-a-security-blindspot-for-injecting-malicious-modules/
# If committing package-lock.json and accepting PRs, consider lockfile-lint
# Also consider npm-audit-resolver in preversion hook
package-lock.json
